.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);

  &__header {
    display: flex;
    height: 100px;
    padding: 0 17px 0 49px;
  }

  &__body {
    display: flex;
    overflow: auto;
    cursor: pointer;
  }

  &__week-container {
    display: flex;
    width: 100%;
    height: fit-content;
  }

  &__time-scale {
    position: relative;
    height: 100%;
    width: 48px;
  }

  &__week {
    display: flex;
    flex: 1;
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid #eee;
  }

  &__time-slot {
    height: 60px;
    position: relative;
    border-bottom: 1px solid #eee;
  }

  &__day-label {
    flex: 1;
  }
}

