.day-label {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.6);

  &__day-name {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__day-number {
    font-size: 22px;

    &_current {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgb(255 79 79);
      color: white;
    }
  }
}
