.event {
  position: absolute;
  width: 100%;
  background-color: rgb(120, 161, 236);
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &_relative {
    position: relative;
  }

  &__title {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 0;
    margin-bottom: 8px;
    border-bottom: 2px solid rgb(255 79 79);
  }

  &__time {
    position: relative;
  }

  &__deleteButton {
    position: absolute;
    top: -37px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: white;
    font-size: 13px;
    cursor: alias;

    &:hover {
      background-color: rgb(255 79 79);
      color: white;
    }

    &:active {
      background-color: red;
    }
  }
}
