.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-scale {
    position: relative;
    height: 100%;
    width: 48px;
  }
}

.time-slot {
  position: relative;
  height: 60px;
  width: 48px;
  text-align: right;

  &__time {
    position: absolute;
    font-size: 12px;
    opacity: 0.7;
    top: -6px;
    right: 6px; 
    z-index: 10;
  }
  &__redLine {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
  }
}