.button {
  border: 1px solid rgba(128, 128, 128, 0.5);
  outline: none;
  cursor: pointer;
  padding-top: 2px;
  &:hover {
    color: white;
  }
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(14 0 0 / 68%);
  z-index: 10;
}
